<!DOCTYPE html>
<html>
    <head>
        <title>Inheritance in Jinja!</title>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif
            };
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
