<!DOCTYPE html>
<html>
    <body>
        <p>This is a template called {{ template_name }}</p>
        <!-- we can also include another template -->
        {% include "other_template.html.jinja2" %}
    </body>
</html>