<!DOCTYPE html>
<html>
    <body>
        <!-- We can even include templates! -->
        {% include "include.html.jinja2" %}
        <p>This is a template called {{ template_name }}</p>
    </body>
</html>